.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px #000;
  padding: 0 5px;
  margin: 30px;
  color: #fff;
  font: 16px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.map {
    height: 100%;
}

@media (min-width: 992px) {
    .sidebar {
        overflow-y: scroll;
        height: 100%;
    }
}

@media (max-width: 991px) {
    .sidebar {
        overflow-y: scroll;
        height: 20%;
    }
}

.color {
    width: 12px;
    display: inline-block;
    height: 12px;
    margin-left: 4px;
    border: solid 1px #333;
}